#slider {
  position: relative;
  width: 250px;
  height: 250px;
  overflow: hidden;
}

.slide {
  position: absolute;
  inset: 0;
  overflow: hidden;

  &:nth-child(1) {
    background-color: #51c151;
  }
  &:nth-child(2) {
    background-color: #e95d5d;
  }

  &:nth-child(3) {
    background-color: #44c7e5;
  }

  img {
    position: absolute;
    width: 100%;
  }
}

button {
  margin: 20px;
}